<head>
    <style>
        p{
            font-size: 25px;
        }
        h1{
            margin:5rem;
            text-align:center;
        }
      
    </style>
</head>
<body>
    <h1>이벤트 신청하기</h1>
    <div style="margin-left:15rem">
    <%= render 'form' %>
    </div>
    <%= link_to 'Back', applies_path %>

</body>