@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

.no_show {
  font-size:0px;
}

.logo {
  text-decoration: none!important;
}

.dropbtn {
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    /* background-color: #3e8e41; */
}

/* index */

:not(span) {
  font-family: 'Hanna', sans-serif;
}

.slide {
  margin-bottom: 10px;
}

.search_box,.clock_con h2 {
  margin:0.5rem auto;
}

.perform {
  text-align: center;

}

.perform > div {
  display: inline-block;
  width: 23%;
  line-height: 100px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
}
.pocpo {
  background-color: #FCB2CF;
}

.rooftop {
  background-color: #A5C6FB;
}

.nocheon {
  background-color: #FCB2CF;
}

.frontlaw {
  background-color: #A5C6FB;
}

.perform > div > img {
  border-radius: 5px;
  width: 90%;
  max-width: 760px;
  vertical-align: middle;
}

.notice > div {

}

/* index2 */
.day_count {
  text-align: center;
}

.time_table {
  text-align: center;
}

.tg  {
  margin: 0 auto;
  border-collapse: collapse;border-spacing:0;
}
.tg td {
  font-size:25px;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
}

.tg th {
  font-size:25px;
  font-weight:normal;
  padding:10px 5px;
  border-style:solid;
}

.tg .tg-yw4l {
  vertical-align:top
}

/* 부스상세보기 */

.map {
  position:relative;
  height: 34rem;
  width: 52rem;
  text-align: center;
  margin-bottom: 10px;
  background-image: url(/img/map2.png);
  background-color: black;
  background-position: center;
  background-size: 100%;
  margin: 0 auto 10px auto;
}

.nbbtn {
  position: absolute;
  bottom: 6.5%;
  right: 1.25%;
  z-index: 2;
}

.no_btn {
  width: 12.31rem;
  height: 11rem;
  border-radius: 10px;
  font-size: 3.125rem;
  background-color: rgba(140,25,140, 0.5);
  border: none;
  cursor: pointer;
}
.no_btn:hover {
  background-color: rgba(140,25,140, 0.7);
}

.pbbtn {
  position: absolute;
  top: 0%;
  left: 0.9%;
  z-index: 2;
}

.poc_btn {
  width: 11rem;
  height: 7.4rem;
  border-radius: 10px;
  font-size: 3rem;
  background-color: rgba(25,140,25, 0.5);
  border: none;
  cursor: pointer;
}
.poc_btn:hover{
  background-color: rgba(25,140,25, 0.7);
}

/*.rbbtn {*/
/*  position: absolute;*/
/*  bottom: 14.4%;*/
/*  right: 34.7%;*/
/*  z-index: 2;*/
/*}*/

/*.rft_btn {*/
/*  width: 3.5rem;*/
/*  height: 3.31rem;*/
/*  border-radius: 20px;*/
/*  font-size: 1rem;*/
/*  background-color: rgba(255,192,203, 0.7);*/
/*  border: none;*/
/*  cursor: pointer;*/
/*}*/

/*.dbbtn {*/
/*  position: absolute;*/
/*  bottom: 44.4%;*/
/*  left: 5.8%;*/
/*  z-index: 2;*/
/*}*/

/*.daebup_btn {*/
/*  width: 15rem;*/
/*  height: 3.1875rem;*/
/*  border-radius: 20px;*/
/*  font-size: 2.1875rem;*/
/*  background-color: rgba(255,255,76, 0.7);*/
/*  border: none;*/
/*  cursor: pointer;*/
/*}*/

.gbtn {
  position: absolute;
  bottom: 57.5%;
  left: 39.75%;
  z-index: 2;
}

.gom_btn {
  width: 15.5rem;
  height: 12.5rem;
  border-radius: 20px;
  font-size: 3rem;
  background-color: rgba(255,255,255, 0.5);
  border: none;
  cursor: pointer;
}
.gom_btn:hover{
  background-color: rgba(255,255,255,0.7);
}

.hbbtn {
  position: absolute;
  bottom: 7.5%;
  left: 40%;
  z-index: 2;
}

.h_btn {
  width: 15.5rem;
  height: 3.125rem;
  border-radius: 10px;
  font-size: 2.1875rem;
  background-color: rgba(255,50,50, 0.5);
  border: none;
  cursor: pointer;
}
.h_btn:hover {
  background-color: rgba(255,50,50,0.7);
}

.map > div > button:hover {
  color: #e6a756
}

.map > div > a > button {
  text-decoration: none;
  color: black;
}

.map > div > a > button:hover {
  color: #e6a756
}

.map > .gbtn > a {
  text-decoration: none;
  color: black;
}

/* 이벤트고르기 .about*/

.event {
  margin-bottom: 10px;
  width: 18rem;
  display: inline-block;
}

.card.event {
  margin: 0.5rem;
}

.all_event {
  display: flex;
  flex-wrap: wrap;
}
/* .event 이벤트상세 */

.ev_img {
  text-align: center;
  margin-bottom: 10px;
}

/* reports */

.reports {
  text-align: center!important;
  margin-top: 30px;
  font-size: 20px!important;
}

/*new_report*/

.labels {
  font-size: 35px!important;
  margin-bottom: 0px!important
}

p {
  margin: 0!important;
  padding: 0!important;
}

.police .new{
  float: right;
  margin-bottom: 1rem;
}

/* 동영상 정렬 */
.carousel.slide {
  display: flex;
  justify-content: center;
}

iframe {
  height: 573px;
}
