@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

.no_show {
  font-size:0px;
}

.logo {
  text-decoration: none!important;
}

.dropbtn {
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    /* background-color: #3e8e41; */
}

/* index */

:not(span) {
  font-family: 'Hanna', sans-serif;
}

.slide {
  margin-bottom: 10px;
}

.perform {
  text-align: center;

}

.perform > div {
  display: inline-block;
  width: 23%;
  line-height: 100px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
}
.pocpo {
  background-color: #FCB2CF;
}

.rooftop {
  background-color: #A5C6FB;
}

.nocheon {
  background-color: #FCB2CF;
}

.frontlaw {
  background-color: #A5C6FB;
}

.perform > div > img {
  border-radius: 5px;
  width: 90%;
  max-width: 760px;
  vertical-align: middle;
}

.notice > div {

}

/* index2 */
.day_count {
  text-align: center;
}

.time_table {
  text-align: center;
}

.tg  {
  margin: 0 auto;
  border-collapse: collapse;border-spacing:0;
}
.tg td {
  font-size:25px;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
}

.tg th {
  font-size:25px;
  font-weight:normal;
  padding:10px 5px;
  border-style:solid;
}

.tg .tg-yw4l {
  vertical-align:top
}

/* 부스상세보기 */

.map {
  position:relative;
  height: 34rem;
  width: 52rem;
  text-align: center;
  margin-bottom: 10px;
  background-image: url(/img/map.png);
  background-color: black;
  background-position: center;
  background-size: 100%;
  margin: 0 auto 10px auto;
}

.nbbtn {
  position: absolute;
  bottom: 8.9%;
  right: 3.8%;
  z-index: 2;
}

.no_btn {
  width: 12.31rem;
  height: 10.12rem;
  border-radius: 20px;
  font-size: 3.125rem;
  background-color: rgba(140,25,140, 0.7);
  border: none;
  cursor: pointer;
}

.pbbtn {
  position: absolute;
  top: 2.8%;
  left: 1.4%;
  z-index: 2;
}

.poc_btn {
  width: 11.25rem;
  height: 7.75rem;
  border-radius: 20px;
  font-size: 3.125rem;
  background-color: rgba(25,140,25, 0.7);
  border: none;
  cursor: pointer;
}

.rbbtn {
  position: absolute;
  bottom: 14.4%;
  right: 34.7%;
  z-index: 2;
}

.rft_btn {
  width: 3.5rem;
  height: 3.31rem;
  border-radius: 20px;
  font-size: 1.125rem;
  background-color: rgba(255,192,203, 0.7);
  border: none;
  cursor: pointer;
}

.dbbtn {
  position: absolute;
  bottom: 44.4%;
  left: 5.8%;
  z-index: 2;
}

.daebup_btn {
  width: 15rem;
  height: 3.1875rem;
  border-radius: 20px;
  font-size: 2.1875rem;
  background-color: rgba(255,255,76, 0.7);
  border: none;
  cursor: pointer;
}

.gbtn {
  position: absolute;
  bottom: 52.8%;
  left: 38.9%;
  z-index: 2;
}

.gom_btn {
  width: 14.56rem;
  height: 12.125rem;
  border-radius: 20px;
  font-size: 3.43rem;
  background-color: rgba(76,76,255, 0.7);
  border: none;
  cursor: pointer;
}

.hbbtn {
  position: absolute;
  bottom: 4.1%;
  left: 38.4%;
  z-index: 2;
}

.h_btn {
  width: 15.5rem;
  height: 3.125rem;
  border-radius: 20px;
  font-size: 2.1875rem;
  background-color: rgba(255,50,50, 0.7);
  border: none;
  cursor: pointer;
}

.map > div > button:hover {
  color: #e6a756
}

.map > div > a > button {
  text-decoration: none;
  color: black;
}

.map > div > a > button:hover {
  color: #e6a756
}

.map > .gbtn > a {
  text-decoration: none;
  color: black;
}

/* 이벤트고르기 .about*/

.event {
  margin-bottom: 10px;
  width: 18rem;
  display: inline-block;
}

.card.event {
  margin: 0.5rem;
}

.all_event {
  display: flex;
  flex-wrap: wrap;
}
/* .event 이벤트상세 */

.ev_img {
  text-align: center;
  margin-bottom: 10px;
}

/* reports */

.reports {
  text-align: center!important;
  margin-top: 30px;
  font-size: 20px!important;
}

/*new_report*/

.labels {
  font-size: 35px!important;
  margin-bottom: 0px!important
}

p {
  margin: 0!important;
  padding: 0!important;
}

.police .new{
  float: right;
  margin-bottom: 1rem;
}

/* 동영상 정렬 */
.carousel.slide {
  display: flex;
  justify-content: center;
}

iframe {
  height: 573px;
}

/* 곰상지도 */
.gom_map {
  position:relative;
  height: 470px;
  width: 555px;
  text-align: center;
  margin-bottom: 10px;
  background-image: url(/img/gom_map.png);
  background-color: black;
  background-position: center;
  background-size: 100%;
  margin: 0 auto 10px auto;
}

.bz {
  position: absolute;
  top: 13.9%;
  left: 12.8%;
  z-index: 2;
}

.bz_btn {
  width: 11.31rem;
  height: 8.12rem;
  border-radius: 20px;
  font-size: 3.125rem;
  background-color: rgba(140,25,140, 0.7);
  border: none;
  cursor: pointer;
}

.elec {
  position: absolute;
  top: 13.8%;
  left: 55.4%;
  z-index: 2;
}

.elec_btn {
  width: 11.25rem;
  height: 7.75rem;
  border-radius: 20px;
  font-size: 2.125rem;
  background-color: rgba(25,140,25, 0.7);
  border: none;
  cursor: pointer;
}

.soft {
  position: absolute;
  bottom: 36.4%;
  right: 10.7%;
  z-index: 2;
}

.soft_btn {
  width: 6rem;
  height: 5.31rem;
  border-radius: 20px;
  font-size: 1.125rem;
  background-color: rgba(255,192,203, 0.7);
  border: none;
  cursor: pointer;
}

.thinking {
  position: absolute;
  bottom: 22.4%;
  left: 13.8%;
  z-index: 2;
}

.thinking_btn {
  width: 7rem;
  height: 6rem;
  border-radius: 20px;
  font-size: 2.1875rem;
  background-color: rgba(255,255,76, 0.7);
  border: none;
  cursor: pointer;
}

.statis{
  position: absolute;
  bottom: 8.8%;
  left: 5.9%;
  z-index: 2;
}

.statis_btn {
  width: 10.5rem;
  height: 3.5rem;
  border-radius: 20px;
  font-size: 2.43rem;
  background-color: rgba(76,76,255, 0.7);
  border: none;
  cursor: pointer;
}

.physical {
  position: absolute;
  bottom: 12.1%;
  left: 72.4%;
  z-index: 2;
}

.physical_btn {
  width: 6.5rem;
  height: 6.125rem;
  border-radius: 20px;
  font-size: 2.1875rem;
  background-color: rgba(255,50,50, 0.7);
  border: none;
  cursor: pointer;
}

.mech {
  position: absolute;
  bottom: 9.1%;
  left: 38.4%;
  z-index: 2;
}

.mech_btn {
  width: 10.5rem;
  height: 3.125rem;
  border-radius: 20px;
  font-size: 2.1875rem;
  background-color: rgba(255,50,50, 0.7);
  border: none;
  cursor: pointer;
}

.fadi {
  position: absolute;
  bottom: 23.1%;
  left: 37.8%;
  z-index: 2;
}

.fadi_btn {
  width: 10.5rem;
  height: 3.5rem;
  border-radius: 20px;
  font-size: 1.1875rem;
  background-color: rgba(255,50,50, 0.7);
  border: none;
  cursor: pointer;
}

/*------------------------*/

.gom_map > div > button:hover {
  color: #e6a756
}

.gom_map > div > a > button {
  text-decoration: none;
  color: black;
}

.gom_map > div > a > button:hover {
  color: #e6a756
}

.card > button {
  text-decoration: none;
  padding:0;
}

.mj_img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid black;
}

/*.gom_map > .statis_btn > a {*/
/*  text-decoration: none;*/
/*  color: black;*/
/*}*/