/* 곰상지도 */
.gom_map {
  position:relative;
  height: 470px;
  width: 555px;
  text-align: center;
  margin-bottom: 10px;
  background-image: url(/img/gom_map.png);
  background-color: black;
  background-position: center;
  background-size: 100%;
  margin: 0 auto 10px auto;
}

.bz {
  position: absolute;
  top: 13.9%;
  left: 12.8%;
  z-index: 2;
}

.bz_btn {
  width: 11.31rem;
  height: 8.12rem;
  border-radius: 20px;
  font-size: 2.75rem;
  background-color: rgba(140,25,140, 0.7);
  border: none;
  cursor: pointer;
}

.elec {
  position: absolute;
  top: 13.8%;
  left: 55.4%;
  z-index: 2;
}

.elec_btn {
  width: 11.25rem;
  height: 8.5rem;
  border-radius: 20px;
  font-size: 1.75rem;
  background-color: rgba(25,140,25, 0.7);
  border: none;
  cursor: pointer;
}

.soft {
  position: absolute;
  bottom: 36.4%;
  right: 10.7%;
  z-index: 2;
}

.soft_btn {
  width: 6rem;
  height: 5.31rem;
  border-radius: 20px;
  font-size: 1.125rem;
  background-color: rgba(255,192,203, 0.7);
  border: none;
  cursor: pointer;
}

.thinking {
  position: absolute;
  bottom: 24%;
  left: 15%;
  z-index: 2;
}

.thinking_btn {
  width: 6.5rem;
  height: 5.5rem;
  border-radius: 20px;
  font-size: 1.75rem;
  background-color: rgba(255,255,76, 0.7);
  border: none;
  cursor: pointer;
}

.statis{
  position: absolute;
  bottom: 8%;
  left: 5.9%;
  z-index: 2;
}

.statis_btn {
  width: 10.5rem;
  height: 3.7rem;
  border-radius: 20px;
  font-size: 1.75rem;
  background-color: rgba(76,76,255, 0.7);
  border: none;
  cursor: pointer;
}

.physical {
  position: absolute;
  bottom: 12.1%;
  left: 71%;
  z-index: 2;
}

.physical_btn {
  width: 6.5rem;
  height: 6.125rem;
  border-radius: 20px;
  font-size: 1.35rem;
  background-color: rgba(255,50,50, 0.7);
  border: none;
  cursor: pointer;
}

.mech {
  position: absolute;
  bottom: 7%;
  left: 38.4%;
  z-index: 2;
}

.mech_btn {
  width: 10.5rem;
  height: 4rem;
  border-radius: 20px;
  font-size: 2rem;
  background-color: rgba(255,50,50, 0.7);
  border: none;
  cursor: pointer;
}

.fadi {
  position: absolute;
  bottom: 23.1%;
  left: 37.8%;
  z-index: 2;
}

.fadi_btn {
  width: 10.5rem;
  height: 3.5rem;
  border-radius: 20px;
  font-size: 1.1875rem;
  background-color: rgba(255,50,50, 0.7);
  border: none;
  cursor: pointer;
}

/*------------------------*/

.gom_map > div > button:hover {
  color: #e6a756
}

.gom_map > div > a > button {
  text-decoration: none;
  color: black;
}

.gom_map > div > a > button:hover {
  color: #e6a756
}

.card > button {
  text-decoration: none;
  padding:0;
}

.mj_img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid black;
}