@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');

@media(max-width:750px){
  /* 메인화면 */
  /* index perform */
  .perform > div{
    width: 160px;
  }
  .perform h1, .clock{
    font-size: 2rem;
  }
  .perform h2{
    font-size: 1.5rem;
  }
  .perform h3{
    font-size: 1.25rem;
  }
  .perform p{
    font-size: 1rem;
  }
  .carousel.slide iframe{
    height: 203px;
  }
  
  /*폭포,루프탑,노천,폭포*/
  .nocheon{
    background-color: #A5C6FB;
  }
  .frontlaw{
    background-color: #FCB2CF;
  }
  
  /* nav */
  #mainNav{
    background-color:#567DBE;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color:#CBCBCC;
  }
  
  /* card event */
  .card.event{
    width: 20rem;
    margin-top: 0.5rem;
  }
  .card.event h5{
    font-size: 1.2rem;
  }
  .card.event p{
    font-size: 0.9rem;
  }
  /* event 상세 */
  .ev_img img{
    width: 75%;
  }
  section pre{
    width: 100%;
    font-size: 75%;
  }

  /* 축제일정 */
  /* search */
  .search_box input{
    width: 10rem;
    margin-right: 0.5rem;
  }
  
  /* card-body */
  .card-body img{
    width: 10rem;
    /*height: 10rem;*/
    margin-top: 1rem;
  }
  .card-body h2{
    font-size: 2rem;
  }
  .card-body h3{
    font-size: 1.5rem;
  }
  
  /* search 검색 결과*/
  .singer{
    display: block;
  }
  .s_info h1{
    font-size: 2rem;
  }
  .s_info h2{
    font-size: 1.5rem;
  }
  /* 부스상세보기 */
  .map {
    background-repeat: no-repeat;
    height: 15rem;
    width: 22rem;
  }
  
  .no_btn {
    width: 5.31rem;
    height: 4.62rem;
    border-radius: 10px;
    font-size: 1.125rem;
  }
  .pbbtn {
    top: 1.5%;
  }
  .poc_btn {
    width: 4.5rem;
    height: 3.25rem;
    border-radius: 10px;
    font-size: 1.125rem;
  }
  
  .rft_btn {
    width: 2rem;
    height: 1.7rem;
    border-radius: 10px;
    font-size: 0.5rem;
  }
  
  .dbbtn {
    bottom: 43%;
  }
  
  .daebup_btn {
    width: 6.5rem;
    height: 1.5rem;
    font-size: 0.8875rem;
  }
  
  .gbtn {
    bottom: 57%;
    left: 39.5%;
  }
  .gom_btn {
    width: 6.5rem;
    height: 5.5rem;
    font-size: 1rem;
  }
  
  .hbbtn {
    bottom: 8%;
  }
  
  .h_btn {
    width: 6.5rem;
    height: 1.5rem;
    font-size: 1.1375rem;
  }
  
  /*곰상지도*/
  .gom_map {
    height: 240px;
    width: 335px;
    margin-bottom: 10px;
  } 
  
  .bz {
    top: 27%;
    left: 33%;
  }
  .bz_btn {
    width: 1.75rem;
    height: 3.25rem;
    border-radius: 5px;
    font-size: 0.5rem;
  }
  
  .account {
    top: 25.5%;
    left: 41%;
  }
  .account_btn{
    width: 1rem;
    height: 2rem;
    border-radius: 5px;
    font-size: 0.25rem;
  }
  
  .trade {
    top: 25.5%;
    left: 46%;
  }
  .trade_btn {
    width: 1rem;
    height: 2rem;
    border-radius: 5px;
    font-size: 0.25rem;
  }
  
  .econo {
    top: 27%;
    left: 19%;
   }
  .econo_btn {
    width: 1.75rem;
    height: 3.25rem;
    border-radius: 5px;
    font-size: 0.5rem;
   }
   
  .china {
    top: 49%;
    left: 26.5%;
  }
  .china_btn {
    width: 1.75rem;
    height: 0.75rem;
    border-radius: 5px;
    font-size: 5px;
  }
  
  .fadi {
    bottom: 32%;
    left: 32.5%;
  }
  .fadi_btn {
    width: 0.85rem;
    height: 1.75rem;
    border-radius: 5px;
    font-size: 5px;
  }
  
  .art {
    top: 62%;
    left: 26.5%;
  }
  .art_btn {
    width: 1.75rem;
    height: 1.25rem;
    border-radius: 5px;
    font-size: 5px;
  }
  
  .elec {
    top: 52%;
    left: 42%;
  }
  .elec_btn {
    width: 2.5rem;
    height: 1.75rem;
    border-radius: 5px;
    font-size: 0.5rem;
  }
  
  .soft {
    bottom: 26%;
    right: 59%;
  }
  .soft_btn {
    width: 0.875rem;
    height: 2.5rem;
    border-radius: 5px;
    font-size: 5px;
  }
  
  .gobunja{
    top: 66%;
    left: 42%;
  }
  .gobunja_btn{
    width: 2.5rem;
    height: 0.875rem;
    border-radius: 5px;
    font-size: 5px;
  }
  
  .thinking {
    top: 25%;
    right: 27.75%;
  }
  .thinking_btn {
    width: 2rem;
    height: 1.5rem;
    border-radius: 5px;
    font-size: 0.5rem;
  }
  
  .physical {
    bottom: 29%;
    right: 27.75%;
  }
  .physical_btn {
    width: 2rem;
    height: 1.5rem;
    border-radius: 5px;
    font-size: 0.5rem;
  }
  
  .statis{
    top: 62.5%;
    left: 57.5%;
  }
  .statis_btn {
    width: 1rem;
    height: 2rem;
    border-radius: 5px;
    font-size: 0.3rem;
  }
  
  .archi{
    bottom: 2.5%;
    right: 37.5%;
  }
  .archi_btn{
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 5px;
    font-size: 5px;
  }
  
  .fiber {
    bottom: 12%;
    left: 20%;
  }
  .fiber_btn {
    width: 2rem;
    height: 0.875rem;
    border-radius: 5px;
    font-size: 0.4rem;
  }
  
  .tomok {
    bottom: 12%;
    left: 30%;
  }
  .tomok_btn {
    width: 1.7rem;
    height: 0.875rem;
    border-radius: 5px;
    font-size: 2px;
  }
  
  .mosigong{
    bottom: 12%;
    right: 52%;
  }
  .mosigong_btn{
    width: 2rem;
    height: 0.875rem;
    border-radius: 5px;
    font-size: 2px;
  }
  
  .uhak{
    bottom: 12%;
    right: 44%;
  }
  .uhak_btn{
    width: 1.75rem;
    height: 1.5rem;
    border-radius: 5px;
    font-size: 2px;
  }
  
  .oksu{
      bottom: 2%;
      left: 37%;
  }
  .oksu_btn{
      width: 1.75rem;
      height: 1.5rem;
      border-radius: 5px;
      font-size: 2px;
  }
  
  .sunwoori{
      bottom: 2%;
      left: 45%;
  }
  .sunwoori_btn{
      width: 2rem;
      height: 0.875rem;
      border-radius: 5px;
      font-size: 2px;
  }
  
  .bubsa{
      bottom: 2%;
      left: 23%;
  }
  .bubsa_btn{
      width: 1.75rem;
      height: 1rem;
      border-radius: 5px;
      font-size: 2px;
  }
  
  .chonghak{
      bottom: 3%;
      left: 5%;
  }
  .chonghak_btn{
      width: 3rem;
      height: 7rem;
      border-radius: 5px;
      font-size: 1rem;
  }
  
  .foodtruck{
      bottom: 25%;
      left: 0%;
  }
  .foodtruck_btn{
      width: 1.4rem;
      height: 7rem;
      border-radius: 3px;
      font-size: 0.5rem;
  }

  
  /*학과 주점 정보*/
  .card-header h2 {
    font-size: 1.5rem;
  }
  
  .nomenu{
    font-size: 1.5rem;
  }
  
  .jujum img{
    display: block;
    margin: auto;
    height: 100%;
  }
  
  .menu, .jujum{
    text-align: left;
  }
  
  /* 혜당관 앞 */
  .hd_map {
    height: 12rem;
    width: 20rem;
  }
  
  .hd_map div button {
    font-size: 0.4rem;
    padding: 0.2rem;
  }
  
  /* 폭포공원 앞 */
  .poc_map {
    height: 8rem;
    width: 17rem;
    background-repeat: no-repeat;
  }
  
  .daejang {
    bottom: 8.9%;
    right: 3.8%;
  }
  
  .daejang_btn {
    width: 6rem;
    height: 5rem;
    border-radius: 10px;
    font-size: 1.5rem;
  }
  
  .busking {
    top: 49.8%;
    left: 23.4%;
  }
  
  .busking_btn {
    width: 5rem;
    height: 3rem;
    border-radius: 10px;
    font-size: 1rem;
  }
  
  .visual {
    bottom: 14.4%;
    right: 34.7%;
  }
  
  .visual_btn {
    width: 3rem;
    height: 2.8rem;
    border-radius: 10px;
    font-size: 0.7rem;
  }
  
  .flee {
    bottom: 44.4%;
    left: 5.8%;
  }
  
  .flee_btn {
    width: 7rem;
    height: 2rem;
    border-radius: 10px;
    font-size: 1rem;
  }
  
  .semi {
    bottom: 47.8%;
    left: 38.9%;
  }
  
  .semi_btn {
    width: 8rem;
    height: 5rem;
    border-radius: 10px;
    font-size: 1.5rem;
  }
  
  .pp_map > div > button:hover {
    color: #e6a756
  }
  
  .pp_map > div > a > button {
    text-decoration: none;
    color: black;
  }
  
  .pp_map > div > a > button:hover {
    color: #e6a756
  }
  
  .pp_map > .gbtn > a {
    text-decoration: none;
    color: black;
  }
  

  /* 곰상 주*/
  
  /*혜당관 앞*/
  .hd_map15 {
    position: relative;
     height: 276px;
    width: 300px;
    text-align: center;
    margin-bottom: 10px;
    background-image: url(/img/hd_front15.png);
    background-color: black;
    background-position: center;
    background-size: 100%;
    margin: 0 auto 10px auto;
  }
   .hd_map16 {
    position: relative;
    height: 276px;
    width: 300px;
    text-align: center;
    margin-bottom: 10px;
    background-image: url(/img/hd_front16.png);
    background-color: black;
    background-position: center;
    background-size: 100%;
    margin: 0 auto 10px auto;
  }
   .hd_map17 {
    position: relative;
    height: 276px;
    width: 300px;
    text-align: center;
    margin-bottom: 10px;
    background-image: url(/img/hd_front17.png);
    background-color: black;
    background-position: center;
    background-size: 100%;
    margin: 0 auto 10px auto;
}
  /* 범정관 */
  .bum_map {
    height: 190px;
    width: 330px;
    background-repeat: no-repeat;
  }
  
  .flee {
    bottom: 36.4%;
    left: 5%;
  }
  
  .flee_btn {
    width: 19rem;
    height: 3rem;
    border-radius: 10px;
    font-size: 1.75rem;
  }
  #flee_c h1{
    font-size: 2rem;
  }
  #flee_c p {
    font-size: 1rem;
  }
  #flee_c h4 {
    font-size: 1.5rem;

  }
}
