<div style="text-align:center; margin: 0 auto;">
    <h1>FLEA MARKET</h1>
    <p>보도 듣고 맛보고 마셨다면, 이제 내 손에 간직할 물건을 찾을 차례!</p>
    <p>기념품도 좋고, 스티커도 좋고, 상품도 좋지만</p>
    <p>실용성 있는 아이템도 나쁘지 않을 것 같아!</p>
    
    <p>FLEA MARKET으로 우리강산 푸르게 푸르게</p>
    
    <ul>
        <li>
            <h4>운영시간</h4>
            <p>5월 15일 ~ 17일 / 10시 ~ 20시</p>
            <p>우천시 운영하지 않음.</p>
        </li>
        
        <li>
            <h4>위치</h4>
            <p>범정관 분수대 앞</p>
        </li>
        <li>
            <h4>내용</h4>
            <p>30여 가지의 다양한 물품들이 싼 값이 판매하니 구경하셔서 많은 아이템을 얻어가세요!</p>
        </li>
    </ul>
</div>