<!DOCTYPE html>
<html lang="en">
  <head>
  </head>

  <body>
  <div class="container">
    <h1>EVENT</h1>
    <section class="all_event">
      <div class="card event">
        <img class="card-img-top" src="/img/mini1.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">WATERBATTLE Navy vs. Pirates </h5>
          <p class="card-text">다가올 무더운 날씨를 피해 워터배틀에 참여해주실 '해적/해군' 분들을 모집합니다.</p>
          <a href="/event/detail/1" class="btn btn-primary">신청하기!</a>
        </div>
      </div>
      <div class="card event">
        <img class="card-img-top" src="/img/mini2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">방탈출</h5>
          <p class="card-text">방탈출 게임을 해봅시다</p>
          <a href="/event/detail/2" class="btn btn-primary">신청하기!</a>
        </div>
      </div>
      <div class="card event">
        <img class="card-img-top" src="/img/mini2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">이벤트3</h5>
          <p class="card-text">이벤트 3입니다</p>
          <a href="/event/detail/3" class="btn btn-primary">신청하기!</a>
        </div>
      </div>
    </section>
  </div>

  <section>
    <div class="container">

      </div>
    </div>
  </section>

  </body>

</html>
