<!DOCTYPE html>
<html lang="en">

  <head>

  </head>

  <body>

  <div class="container">
    <section>
      <div class="card event" style="width: 18rem;">
        <img class="card-img-top" src="/img/286.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">WATERBATTLE Navy vs. Pirates </h5>
          <p class="card-text">다가올 무더운 날씨를 피해 워터배틀에 참여해주실 '해적/해군' 분들을 모집합니다.</p>
          <a href="event.html" class="btn btn-primary">신청하기!</a>
        </div>
      </div>
    </section>
  </div>

  <section>
    <div class="container">

      </div>
    </div>
  </section>

  </body>

</html>
