<!DOCTYPE html>
<html lang="en">

  <head>

  </head>

  <body>


  <div class="container">
    <h1 style="text-align:center;"><전체지도></h1>
      <div class="map">
        <!-- <img src="img/map.png" alt=""> -->
        <div class="nbbtn">
          <button class="no_btn">노천마당</button>
        </div>
        <div class="pbbtn">
    
          <button class="poc_btn">폭포공원</button>
        
        </div>
        <!--<div class="rbbtn">-->
        <!--  <button class="rft_btn">루프탑<br>파티</button>-->
        <!--</div>-->
        <!--<div class="dbbtn">-->
        <!--  <button class="daebup_btn">대학원동/법학관</button>-->
        <!--</div>-->
        <div class="gbtn">
          <a href="gomsang.html">
            <button class="gom_btn">평화의 광장<br>(곰상주변)</button>
          </a>
        </div>
        <div class="hbbtn">
          <a href="hd_front.html">
            <button class="h_btn">혜당관 앞</button>
          </a>
        </div>
      </div>
  </div>

  <section>
    <div class="container">

      </div>
    </div>
  </section>

</body>

</html>
