<!DOCTYPE html>
<html lang="en">

  <head>

  </head>

  <body>


  <div class="container">
    <section>
      <div class="map">
        <!-- <img src="img/map.png" alt=""> -->
        <div class="nbbtn">
          <button class="no_btn">노천마당</button>
        </div>
        <div class="pbbtn">
          <button class="poc_btn">폭포공원</button>
        </div>
        <div class="rbbtn">
          <button class="rft_btn">루프탑파티</button>
        </div>
        <div class="dbbtn">
          <button class="daebup_btn">대학원동/법학관</button>
        </div>
        <div class="gbtn">
          <a href="gomsang.html">
            <button class="gom_btn">평화의 광장(곰상주변)</button>
          </a>
        </div>
        <div class="hbbtn">
          <button class="h_btn">혜당관 앞</button>
        </div>
      </div>
    </section>
  </div>

  <section>
    <div class="container">

      </div>
    </div>
  </section>

</body>

</html>
