<!DOCTYPE html>
<html lang="en">

  <head>

   
  </head>

  <body>

  <div class="container">
    <section>
      <div class="ev_img">
        <img src="/img/event.jpg" alt="이벤트이미지">
      </div>

    </section>
  </div>

  <section>
    <div class="container">
      <a href="/applies/new"><button>신청하기</button></a>
      
    </div>
  </section>

  </body>

</html>
