<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="/css/gomsang_map.css">

  </head>
  
  <body>

  <div class="container">
    <section class="gs_map">
      <h1 style="text-align: center;">곰상주변</h1>
      <div class="gom_map">
         <div class="bz">
          <button class="bz_btn">경영학과</button>
        </div>
        <div class="elec">
          <button class="elec_btn">전자전기공학부</button>
        </div>
        <div class="soft">
          <button class="soft_btn">소프트웨어학과</button>
        </div>
        <div class="thinking">
          <button class="thinking_btn">철학과</button>
        </div>
        <div class="statis">
          <a href="#statis_c">
            <button class="statis_btn">응용통계학과</button>
          </a>
        </div>
        <div class="physical">
          <button class="physical_btn">체육교육학과</button>
        </div>
        <div class="mech">
          <button class="mech_btn">기계공학과</button>
        </div>
        <div class="fadi">
          <button class="fadi_btn">패션디자인학과</button>
        </div>
      </div>
    </section>
  </div>

  <section class="jujum">
    <h1 class="no_show">학과 주점정보</h1>
    <div class="container">
        <div class="lineup">
        
          <div id="accordion">
            <div class="card" id="statis_c">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="time_header">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">응용통계학과</h2>
                </div>
              </button>
                
              
          
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <div class="row">
                    <h2>학과이름</h2>
                    <p>메뉴 및 가격</p>
                    <p>컨셉설명?</p>
                    <p>위치 그림</p>
                  </div>
                </div>
              </div>
          </div>
            
            
          </div>
          <div class="card">
              
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="time_header">
                    <div class="card-header" id="headingTwo">
                      <h2 class="mb-0">
                        2일차 일정
                      </h2>
                    </div>
                  </button>
                
              
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            
            <div class="card">
              
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" id="time_header">
                    <div class="card-header" id="headingThree">
                      <h2 class="mb-0">
                        3일차 일정
                      </h2>
                    </div>
                  </button>

              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
              
            </div>
        </div>
      </div>
    </div>
  </section>

  </body>

</html>
