<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
  <div class="container">
     <div class="search_box">

      <form class="form-inline" action="/plan/search" method="get">
        <label><h2>검색 &nbsp</h2></label>
        <input class="form-control mr-sm-2" type="search" placeholder="ex)싸이" aria-label="Search" name="search_info">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
   </div>
    <div class="clock_con">
      <h2>DANFESTA 3일차 실시간!</h2>
      <span class="clock"></span>
    </div>
  </div>
  <div class="container">
    <section class="perform">
      <div class="pocpo">
        <h2>폭포공원</h2>
        <img src="/img/mamamoo.jpg" alt="랄라스윗">
        <h3>랄라스윗</h3>
        <h4>17:30 ~ 18:30</h4>
        <p>스윗한 인디의 목소리! 랄라스윗과 함께!</p>
      </div>
      <div class="rooftop">
        <h2>폭포공원</h2>
        <img src="/img/mamamoo.jpg" alt="랄라스윗">
        <h3>랄라스윗</h3>
        <h4>17:30 ~ 18:30</h4>
        <p>스윗한 인디의 목소리! 랄라스윗과 함께!</p>
      </div>
      <div class="nocheon">
        <h2>폭포공원</h2>
        <img src="/img/mamamoo.jpg" alt="랄라스윗">
        <h3>랄라스윗</h3>
        <h4>17:30 ~ 18:30</h4>
        <p>스윗한 인디의 목소리! 랄라스윗과 함께!</p>
      </div>
      <div class="frontlaw">
        <h2>폭포공원</h2>
        <img src="/img/mamamoo.jpg" alt="랄라스윗">
        <h3>랄라스윗</h3>
        <h4>17:30 ~ 18:30</h4>
        <p>스윗한 인디의 목소리! 랄라스윗과 함께!</p>
      </div>
    </section>
  </div>
<!-- 슬라이드 -->
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fdku50sol%2Fvideos%2F884795598358573%2F&show_text=0&autoplay=1" width="95%" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
    </div>
  </div>
</div>

<!-- 주의사항 및 사용법! -->
  <section class="notice">
    <div></div>
    <div></div>
    <div></div>

  </section>
  </body>
</html>
