<!DOCTYPE html>
<html lang="en">

  <head>


  </head>

  <body>

    
  <div class="container">
    <div class="clock_con">
      <h1>DANFESTA 3일차 실시간!</h1>
      <span class="clock"></span>
    </div>
  </div>

  <div class="container">
    <section class="perform">
      <div class="pocpo">
        <h1>폭포공원</h1>
        <img src="/img/lalasweet.jpg" alt="랄라스윗">
        <h2>랄라스윗</h2>
        <h3>17:30 ~ 18:30</h3>
        <p>스윗한 인디의 목소리! 랄라스윗과 함께!</p>
      </div>
      <div class="rooftop">
        <h1>루프탑파티</h1>
        <img src="/img/lalasweet.jpg" alt="">
        <h2>랄라스윗</h2>
        <h3>17:30 ~ 18:30</h3>
        <p>스윗한 인디의 목소리! 랄라스윗과 함께!</p>
      </div>
      <div class="nocheon">
        <h1>노천마당</h1>
        <img src="/img/lalasweet.jpg" alt="">
        <h2>랄라스윗</h2>
        <h3>17:30 ~ 18:30</h3>
        <p>스윗한 인디의 목소리! 랄라스윗과 함께!</p>
      </div>
      <div class="frontlaw">
        <h1>대학원동/법학관</h1>
        <img src="/img/lalasweet.jpg" alt="">
        <h2>랄라스윗</h2>
        <h3>17:30 ~ 18:30</h3>
        <p>스윗한 인디의 목소리! 랄라스윗과 함께!</p>
      </div>
    </section>
  </div>
<!-- 슬라이드 -->
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fdku50sol%2Fvideos%2F884795598358573%2F&show_text=0&autoplay=1" width="95%" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
    </div>
  </div>
</div>

<!-- 주의사항 및 사용법! -->
  <section class="notice">
    <div></div>
    <div></div>
    <div></div>

  </section>

  </body>

</html>
