<html>
    <head>
        <link href="/css/my_page.css" rel="stylesheet">
    </head>
    <body>
    <div class="container my_info">
             <h1><%= current_user.email %>님의 페이지</h1>
             <div class="col-lg-3 mb-4 mp_nav" style="display: inline-block">
              <div class="list-group">
                <a href="index.html" class="list-group-item">Home</a>
                <a href="about.html" class="list-group-item">About</a>
                <a href="services.html" class="list-group-item">Services</a>
              </div>
             </div>
             
            <div class="mp_content col-lg-8" style="display: inline-block;">
                <h2 class="col-lg-8" style="display: inline-block">내 정보</h2>   
                <hr>
                <div class="breadcrumb">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Unde rem nihil hic eius consequatur quidem aliquid non, ullam minus, dolorem dicta eveniet voluptatem aspernatur corrupti, sit distinctio dolore, fugit esse architecto. Suscipit corporis, sint pariatur. Animi natus dicta odit officia, repudiandae quisquam recusandae, et earum vero dolorem incidunt, qui dignissimos alias quasi eum consequuntur iure cupiditate! Praesentium aliquam maxime quis laborum sit delectus et, minus impedit ad, officia sapiente eum unde porro dignissimos fuga odit ipsam aperiam voluptates ex voluptatem dolorem magni? Et, dolores, nulla. Eum expedita, assumenda asperiores molestias dolor veniam accusantium libero exercitationem! Ipsam perspiciatis dolorum voluptate aliquam voluptatibus facilis distinctio delectus aperiam unde possimus. Voluptas dolorem voluptatum unde aspernatur deleniti, quidem. Eum culpa cupiditate nam rem officiis eaque, molestias reiciendis, beatae? Libero laborum dicta, officia magni possimus vel labore eum corporis minus, doloribus autem quas numquam aliquam molestiae ea sint nulla atque reprehenderit voluptatibus sunt. Accusamus recusandae aliquid sed, doloremque consequatur repudiandae enim porro quas magni animi, repellat, alias nulla eligendi, delectus odit quisquam numquam quidem inventore voluptatibus officia eveniet esse vero atque. Itaque, repellendus, eaque. Pariatur, voluptates esse illo quae assumenda soluta accusamus qui, aut, accusantium veniam itaque dolorem voluptas repellendus? Unde enim ullam minima temporibus, voluptatum, at dolorum nesciunt! Quam veritatis voluptate perferendis, illum quae fugiat modi mollitia, reiciendis repellendus eveniet dolorum inventore ipsa esse iusto culpa deserunt velit veniam illo quas eligendi vero, hic quasi nihil tempora. Paria
                        tur ea voluptatem perspiciatis quibusdam. Totam eius voluptatum, inventore consequatur!
                        Reiciendis adipisci, blanditiis cupiditate, recusandae ullam, impedit vel magni porro numquam excepturi aut eius temporibus.
                        Ullam mollitia ipsum dignissimos fuga blanditiis. Cum accusantium unde quasi culpa,
                        dolorum vitae ipsa, omnis incidunt explicabo facere doloremque.
                        Qui est a ab sed provident, saepe expedita repudiandae iure rerum esse in recusandae 
                        sunt officiis cum rem, quidem perferendis magni necessitatibus illo!
                    </p>
                </div>
                <hr>
                <div class="breadcrumb">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Unde rem nihil hic eius consequatur quidem aliquid non, ullam minus, dolorem dicta eveniet voluptatem aspernatur corrupti, sit distinctio dolore, fugit esse architecto. Suscipit corporis, sint pariatur. Animi natus dicta odit officia, repudiandae quisquam recusandae, et earum vero dolorem incidunt, qui dignissimos alias quasi eum consequuntur iure cupiditate! Praesentium aliquam maxime quis laborum sit delectus et, minus impedit ad, officia sapiente eum unde porro dignissimos fuga odit ipsam aperiam voluptates ex voluptatem dolorem magni? Et, dolores, nulla. Eum expedita, assumenda asperiores molestias dolor veniam accusantium libero exercitationem! Ipsam perspiciatis dolorum voluptate aliquam voluptatibus facilis distinctio delectus aperiam unde possimus. Voluptas dolorem voluptatum unde aspernatur deleniti, quidem. Eum culpa cupiditate nam rem officiis eaque, molestias reiciendis, beatae? Libero laborum dicta, officia magni possimus vel labore eum corporis minus, doloribus autem quas numquam aliquam molestiae ea sint nulla atque reprehenderit voluptatibus sunt. Accusamus recusandae aliquid sed, doloremque consequatur repudiandae enim porro quas magni animi, repellat, alias nulla eligendi, delectus odit quisquam numquam quidem inventore voluptatibus officia eveniet esse vero atque. Itaque, repellendus, eaque. Pariatur, voluptates esse illo quae assumenda soluta accusamus qui, aut, accusantium veniam itaque dolorem voluptas repellendus? Unde enim ullam minima temporibus, voluptatum, at dolorum nesciunt! Quam veritatis voluptate perferendis, illum quae fugiat modi mollitia, reiciendis repellendus eveniet dolorum inventore ipsa esse iusto culpa deserunt velit veniam illo quas eligendi vero, hic quasi nihil tempora. Paria
                        tur ea voluptatem perspiciatis quibusdam. Totam eius voluptatum, inventore consequatur!
                        Reiciendis adipisci, blanditiis cupiditate, recusandae ullam, impedit vel magni porro numquam excepturi aut eius temporibus.
                        Ullam mollitia ipsum dignissimos fuga blanditiis. Cum accusantium unde quasi culpa,
                        dolorum vitae ipsa, omnis incidunt explicabo facere doloremque.
                        Qui est a ab sed provident, saepe expedita repudiandae iure rerum esse in recusandae 
                        sunt officiis cum rem, quidem perferendis magni necessitatibus illo!
                    </p>
                </div> 
                <hr>
            </div>
            
    </div>
    
    <!--1. 자기 정보-->
    
        
    
    
    
    <!--2. 자기가 신청한 이벤트 정보-->
    
    <!--3. 내가 작성한 신고 글-->


    </body>
</html>