<html>
    <head>
        <link href="/css/my_page.css" rel="stylesheet">
    </head>
    <body>
    <div class="container">
        <section class="my_info">
             <h1><%= current_user.email %>님의 페이지</h1>
             <div class="col-lg-3 mb-4">
              <div class="list-group">
                <a href="index.html" class="list-group-item">Home</a>
                <a href="about.html" class="list-group-item">About</a>
                <a href="services.html" class="list-group-item">Services</a>
              </div>
            </div>
            <hr>
            <div class="breadcrumb">
                          
            </div> 
            <hr>
        </section>
    </div>
    
    <!--1. 자기 정보-->
    
        
    
    
    
    <!--2. 자기가 신청한 이벤트 정보-->
    
    <!--3. 내가 작성한 신고 글-->


    </body>
</html>