<!DOCTYPE html>
<html lang="en">

  <head>

   
  </head>

  <body>
  <div class="container">
    <section>
      <div class="ev_img" style="marin-top:1rem;">
        <img src="/img/event_<%=params[:event_id]%>.jpg" alt="이벤트이미지" style="margin-top:1rem;">
      </div>
        <pre><%=@text%></pre>
    </section>
  </div>

  <section>
    <div class="container">
      <div class="regi_btn">
        <a href=<%= @apply_url %>>
          <button class="btn btn-primary"><%= @buttonn %></button>
        </a>
      </div>
    </div>
  </section>

  </body>

</html>
