<!DOCTYPE html>
<html lang="en">

  <head>

   
  </head>

  <body>
  <div class="container">
    <section>
      <div class="ev_img">
        <img src="/img/event<%= params[:event_id]%>.jpg" alt="이벤트이미지">
      </div>

    </section>
  </div>

  <section>
    <div class="container">
      <div class="regi_btn">
        <a href="/applies/new/<%= params[:event_id] %>">
          <button class="btn btn-primary">신청하기</button>
        </a>
      </div>
    </div>
  </section>

  </body>

</html>
