<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113311473-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

    </script>
    <title>DANFESTA::Festival for Dankook</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
  
      <!--글꼴적용-->
      <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/hanna.css" />
      <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/jejugothic.css" />
      <!-- Bootstrap core CSS -->
      <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  
      <!-- Custom fonts for this template -->
      <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
  
      <!-- Custom styles for this template -->
      <link href="/css/business-casual.css" rel="stylesheet">
      <!--<link href="/css/business-casual.min.css" rel="stylesheet">-->
      <link href="/css/clock.css" rel="stylesheet">
  
      <link href="/css/custom.css" rel="stylesheet">
      
      <link rel="stylesheet" href="/css/gomsang_map.css">
      
      <link href="/css/hd.css" rel="stylesheet"></link>
      
      <link rel="stylesheet" href="/css/pocpo.css" />
      
      <!-- responsive.css -->
      <link href="/css/reponsive.css" rel="stylesheet">
  
      <!-- Bootstrap core JavaScript -->
      <script src="/vendor/jquery/jquery.min.js"></script>
      <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 
  </head>
  <body>

      <h1 class="site-heading text-center text-white d-none d-lg-block" style="margin-top:1rem">
        <a href="/" class="logo">
          <span class="site-heading-lower">
            <!--<h1 style="color:#567DBE">DANFESTA</h1>-->
            <img src="/img/logo.png" style="height:200px">
            <br>
            <img src="/img/danfesta.JPG" style="width:300px">
            <br>

          </span>
        </a>
      </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase d-lg-none" id="mainLogo" href="/">
          <h2 style="color:white"><img src="/img/logo.png" style="height:50px">  DANFESTA</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase" href="/plan/time"style="font-family: 'Jeju Gothic', sans-serif;">축제일정
                <!--<span class="sr-only">(current)</span>-->
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase" href="/home/about" style="font-family: 'Jeju Gothic', sans-serif;">이벤트</a>
            </li>
            <li class="nav-item px-lg-4">
              <div class="dropdown">
                <!-- <a class="nav-link text-uppercase text-expanded" href="products.html">부스상세보기</a> -->
                <a class="nav-link text-uppercase dropbtn" href="/home/booth"  style="font-family: 'Jeju Gothic', sans-serif;">부스상세보기</a>
                <div class="dropdown-content">
                  <a href="/home/pocpo">폭포공원</a>
                  <a href="/home/gomsang">평화의 광장(곰상주변)</a>
                  <a href="/home/hd_front15">15일 혜당관 부스</a>
                  <a href="/home/hd_front16">16일 혜당관 부스</a>
                  <a href="/home/hd_front17">17일 혜당관 부스</a>
                  <a href="/home/bumjung">범정관 앞</a>
                  <!--<a href="#">혜당관 5층 옥상</a>-->
                </div>
              </div>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase" href="/police/reports" style="font-family: 'Jeju Gothic', sans-serif;">방명록</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <%= yield %>

    <footer class="footer text-faded text-center py-4">
      <div class="container">
        <h1 class="m-0 small">Copyright &copy; 단국대 멋쟁이 사자처럼 2018</h1>
      </div>
    </footer>
    
    <script src="/js/custom.js" charset="utf-8"></script>
    
  </body>

</html>
